<div class="footer col-12">
  <div class="ftmain">
    <div class="ftmain-0"></div>
    <div class="ftmain-3px">
      <div class="ftmain-1px">
        <div class="mainpage container text-center row">
          <div class="col-md-5">
            <p>reseau sociaux</p>
          </div>
          <div class="col-md-3">
            <p>nos partenaires</p>
          </div>
          <div class="col-md-4">
            <p>siège social</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
