<div class="main" style="width: 100%">
  <h1 class="text-center">
    Devenir <span style="font-weight: 200">Coach Sportif</span> à "Le Panse
    Formation"
  </h1>
  <div style="max-height: 600px">
    <app-carousel></app-carousel>
  </div>
  <div class="bg-main">
    <div class="container">
      <div class="mainpage col-md-12 text-center">
        <div></div>
      </div>
      <div class="mainpage col-md-12 text-center"></div>
    </div>
  </div>
  <div class="bg-main">
    <div class="container">
      <div class="mainpage col-md-12 text-center"></div>
    </div>
  </div>
</div>
