.mainpage {
  position: relative;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: rgb(220, 218, 218);
}
.bg-main {
  margin-top: 15px;
  padding-top: 10px;
  position: relative;
  background: gray;
  width: 100%;
  height: 100%;
}
.container {
  height: 100%;
}
