.header {
  flex: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 2;
}
.main-with-margin {
  margin-top: 250px;
  flex: 1;
}
.footer {
  flex: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
