<carousel>
  <slide>
    <img
      src="/assets/Photos_caroussel_accueil/ae99998192cb4a0db3a45bca4c4a0b12.jpg.webp"
      class="d-block w-100"
      alt=""
    />
  </slide>
  <slide>
    <img
      src="/assets/Photos_caroussel_accueil/IMG_0913.webp"
      class="d-block w-100"
      alt=""
    />
  </slide>
  <slide>
    <img
      src="/assets/Photos_caroussel_accueil/IMG_4610 - copie.webp"
      class="d-block w-100"
      alt=""
    />
  </slide>
  <slide>
    <img
      src="/assets/Photos_caroussel_accueil/IMG_8304.webp"
      class="d-block w-100"
      alt=""
    />
  </slide>
  <slide>
    <img
      src="/assets/Photos_caroussel_accueil/IMG_8896.webp"
      class="d-block w-100"
      alt=""
    />
  </slide>
</carousel>
