/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
app-root {
  position: relative;
  width: 100%;
  height: 100%;
}
* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
a {
  color: black;
  text-decoration: none;
}
div {
  vertical-align: baseline;
  background: transparent;
}
app-header,
app-footer {
  flex: 0;
}
main,
.main {
  flex: 1;
  width: 100%;
  height: 100vh;
}
.mainpage {
  margin: 0 auto;

  width: 70%;
  padding-top: 250px;
  height: 100vh;
}
